.Banner {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.container_listing p {
  font-family: 'Roboto', sans-serif;
}

.random_item {
  text-align: center;
}

.container_listing {
  padding: 70px;
}

.container_btn {
  padding: 100px 0px;
}

button.is-large {
  text-transform: uppercase;
}

.footer {
  background-color: #3D3B3B !important;
  padding: 3rem 1.5rem 6rem;
  color: #F1F1F1;
}

.footer a {
  color: #11D0B1;
}

.footer a:hover {
  color: #11D0B1;
}

.footer strong {
  color: #F1F1F1;
}